.App {
  width: 100vh;
  height: 90vh;

} 



#d3fc_group {
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;

}

d3fc-canvas,d3fc-svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

